@import url("https://rsms.me/inter/inter.css");
@import "../styles/globals.css";

@layer base {
  :root {
    font-family: "Inter", "Segoe UI", sans-serif;
  }

  body {
    @apply m-0 min-h-screen bg-background text-foreground;
  }

  #root {
    @apply min-h-screen;
  }
}
